n8n/InsightsLM___Process_Additional_Sources.json
{
  "name": "InsightsLM - Process Additional Sources",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "670882ea-5c1e-4b50-9f41-4792256af985",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        -100
      ],
      "id": "e84393f1-d235-49b6-ae80-14fab4c2eaf3",
      "name": "Webhook",
      "webhookId": "670882ea-5c1e-4b50-9f41-4792256af985",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XkKFXSTOUEFECndn",
          "name": "Webhook Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SrQqpK6NKzJPx86v",
          "mode": "list",
          "cachedResultName": "InsightsLM - Upsert to Vector Store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "notebook_id": "={{ $('Webhook').item.json.body.notebookId }}",
            "extracted_text": "={{ $('Webhook').item.json.body.content }}",
            "source_id": "={{ $('Webhook').item.json.body.sourceId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "notebook_id",
              "displayName": "notebook_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "extracted_text",
              "displayName": "extracted_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        -280
      ],
      "id": "21f00127-d042-444c-9d5b-a5827ff303b7",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "copied-text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5057cf19-e998-4cbb-b3a2-95bb8b2a7355"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b0e22e8-984f-46ba-b83e-52d3feda3985",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "multiple-websites",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6ce3360-c8cb-4df0-91fb-15799cb0e3ae",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "feed-multiple-websites",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        -105
      ],
      "id": "ea64f96b-552e-4036-a467-9e721a9348b3",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        -5
      ],
      "id": "df3e6c68-9618-4600-82b7-547815e30e0d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        -5
      ],
      "id": "5c238b17-d28f-42a7-a273-dd5ce9cf0f6c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json['body.urls'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        300
      ],
      "id": "ab711941-fffb-48a9-8f12-0417503bacf3",
      "name": "Fetch Webpage with Jina.ai"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SrQqpK6NKzJPx86v",
          "mode": "list",
          "cachedResultName": "InsightsLM - Upsert to Vector Store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "notebook_id": "={{ $('Switch').item.json.body.notebookId }}",
            "extracted_text": "={{ $json.content }}",
            "source_id": "={{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}",
            "user_id": "={{ $('Switch').item.json.body.userId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "notebook_id",
              "displayName": "notebook_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "extracted_text",
              "displayName": "extracted_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1960,
        300
      ],
      "id": "f64e5ee1-1ebe-48f1-b77e-86ed6943eb79",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sources",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Fetch Webpage with Jina.ai').item.json.data.content }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Fetch Webpage with Jina.ai').item.json.data.title }}"
            },
            {
              "fieldId": "file_path",
              "fieldValue": "={{ $('Switch').item.json.body.notebookId }}/{{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}.txt"
            },
            {
              "fieldId": "file_size",
              "fieldValue": "9999"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1660,
        300
      ],
      "id": "629973a6-c406-4963-860b-2a6d90815afa",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "6Xm7SGmeTZwdSCzO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2180,
        360
      ],
      "id": "66f0f255-3e83-4014-8d50-4d539b8658af",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ehqdibhqhevjnknojogm.supabase.co/storage/v1/object/sources/{{ $('Switch').item.json.body.notebookId }}/{{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}.txt",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.data.url }}\n{{ $json.data.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ],
      "id": "932f87b7-3975-4304-9225-7e5dd709216b",
      "name": "Upload File to Bucket",
      "credentials": {
        "supabaseApi": {
          "id": "6Xm7SGmeTZwdSCzO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ehqdibhqhevjnknojogm.supabase.co/storage/v1/object/sources/{{ $('Switch').item.json.body.notebookId }}/{{ $json.body.sourceId }}.txt",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.data.url }}\n{{ $json.data.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -280
      ],
      "id": "0c971148-8f1e-4da7-aee8-f6a9a4f7d58f",
      "name": "Upload File to Bucket1",
      "credentials": {
        "supabaseApi": {
          "id": "6Xm7SGmeTZwdSCzO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sources",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sourceId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "file_path",
              "fieldValue": "={{ $('Switch').item.json.body.notebookId }}/{{ $('Webhook').item.json.body.sourceId }}.txt"
            },
            {
              "fieldId": "file_size",
              "fieldValue": "9999"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        660,
        -280
      ],
      "id": "8b5103e1-46bd-4959-8b1a-0e288759723f",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "6Xm7SGmeTZwdSCzO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## To Do \n- Configure the Supabase nodes to reference your Project\n- Configure \"Extract Workflow\" to hit the \"Upsert to Vector Store\" workflow\n- Update the Host of the \"HTTP Requests\" to hit your project",
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -600
      ],
      "id": "e0772715-ac1a-4ceb-8017-b07e568c2251",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM\nhttps://github.com/theaiautomators/insights-lm-public",
        "height": 220,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -600
      ],
      "id": "3cb7b6af-1480-47dc-aa7b-07be3b2eb433",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## To Do \n- Non-notebook sources don't get embedded into vector db. probably because no notebook id is passed? Also, userId should",
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        -100
      ],
      "id": "2c7dbdc3-b41f-492b-8c64-4dd2a00f301a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['body.urls'] }}",
                    "rightValue": "youtube.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "b2a8081d-9eb6-4962-b473-1f4135d1061d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "706367bd-c9f5-47e1-9aba-60b6073f579e",
                    "leftValue": "={{ $json['body.urls'] }}",
                    "rightValue": "youtu.be",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Youtube shortlink"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd579f48-4028-4f8b-98f7-3ee9ecf9c75f",
                    "leftValue": "={{ $json['body.urls'] }}",
                    "rightValue": "mobiledevmemo.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mobiledevmemo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "669bee29-fe2d-4925-a135-56b45362280c",
                    "leftValue": "={{ $json['body.urls'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        880,
        100
      ],
      "id": "71f94dad-e841-47e1-a4ae-2413351d207c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qsHAeodj1KJE7nsD",
          "mode": "list",
          "cachedResultName": "URL Content Scraper"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json['body.urls'] }}",
            "userId": "={{ $('Switch').item.json.body.userId }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1240,
        100
      ],
      "id": "c14d8fdc-a805-4314-9985-467592426683",
      "name": "Execute URL Content Scraper"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ehqdibhqhevjnknojogm.supabase.co/storage/v1/object/sources/feed/{{ $('Switch').item.json.body.userId }}/{{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}.txt",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.data.url }}\n{{ $json.data.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        100
      ],
      "id": "91c5dab7-921e-4447-aa95-df3a7bfda271",
      "name": "Upload File to Bucket2",
      "credentials": {
        "supabaseApi": {
          "id": "6Xm7SGmeTZwdSCzO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sources",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Fetch Webpage with Jina.ai').item.json.data.content }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Fetch Webpage with Jina.ai').item.json.data.title }}"
            },
            {
              "fieldId": "file_path",
              "fieldValue": "={{ $('Switch').item.json.body.notebookId }}/{{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}.txt"
            },
            {
              "fieldId": "file_size",
              "fieldValue": "9999"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1660,
        100
      ],
      "id": "8c438dc5-22c1-464e-ab00-602e42755496",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "6Xm7SGmeTZwdSCzO",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Upload File to Bucket1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Webpage with Jina.ai": {
      "main": [
        [
          {
            "node": "Upload File to Bucket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to Bucket": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to Bucket1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Execute URL Content Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute URL Content Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute URL Content Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Webpage with Jina.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute URL Content Scraper": {
      "main": [
        [
          {
            "node": "Upload File to Bucket2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to Bucket2": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23728b41-4044-43dc-8208-285f6fcb1d39",
  "meta": {
    "instanceId": "f5707d3666ba184efe554775a181f51837c332c4fa57af1133598e1ba699e314"
  },
  "id": "F45NP7nHhHAkmhux",
  "tags": []
}