n8n/Supamind - Upsert to Vector Store.json
{
  "name": "Supamind - Upsert to Vector Store",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "19566c6c-e0a5-4a8f-ba1a-5203c2b663b7",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2592,
        96
      ],
      "id": "f2c1ed3f-07c6-4960-bb7b-0a7c403dfa32",
      "name": "Webhook",
      "webhookId": "19566c6c-e0a5-4a8f-ba1a-5203c2b663b7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gvJYxh53ckvIJCGJ",
          "name": "Webhook Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        96,
        96
      ],
      "id": "fec1dc95-2d77-4ade-926c-d0cdab058b19",
      "name": "Supabase Vector Store",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7GmwvHGWyd47X1M6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "notebook_id",
                "value": "={{ $('Code').item.json.notebook_id }}"
              },
              {
                "name": "source_id",
                "value": "={{ $('Code').item.json.source_id }}"
              },
              {
                "name": "user_id",
                "value": "={{ $('Code').item.json.user_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        192,
        336
      ],
      "id": "7707c143-3d6b-4789-afd7-c0d2a1ba2149",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        288,
        528
      ],
      "id": "624dd068-388b-47a8-a10e-94da49b58893",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dab34521-ffef-41db-9eb3-8985fd108466",
              "name": "text",
              "value": "={{ $('Code').item.json.extracted_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        96
      ],
      "id": "e91791e1-4fe3-405a-8a2c-5cf8c757583c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Handle both notebook sources and feed sources\nlet notebook_id = null;\nlet source_id;\nlet user_id;\nlet context;\n\ntry {\n  const webhookData = $('Webhook').first();\n  if (webhookData && webhookData.json?.body) {\n    const body = webhookData.json.body;\n    source_id = body.source_id;\n    user_id = body.user_id;\n    context = body.context;\n    \n    // Check if this is explicitly a feed source\n    if (context === 'feed') {\n      // Explicit feed source - notebook_id stays null\n      notebook_id = null;\n    } else if (!context && !body.notebook_id) {\n      // Implicit feed source: no context and no notebook_id provided\n      notebook_id = null;\n    } else if (body.file_path) {\n      // Extract notebook_id from file path for notebook sources\n      const path = body.file_path;\n      notebook_id = path.split('/')[0];\n    }\n  }\n} catch (e) {\n  // Fallback: get from input (for backwards compatibility)\n  const input = $input.first().json;\n  notebook_id = input.notebook_id || null;\n  source_id = input.source_id;\n  user_id = input.user_id;\n}\n\nconst extracted_text = $input.first().json.extracted_text;\n\n// Explicitly construct the return object to ensure notebook_id is always included\nconst returnData = {\n  notebook_id: notebook_id,\n  extracted_text: extracted_text,\n  source_id: source_id,\n  user_id: user_id\n};\n\nreturn [\n  {\n    json: returnData\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        96
      ],
      "id": "23e1764e-3221-4d96-8b1f-45910dc197ce",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ehqdibhqhevjnknojogm.supabase.co/functions/v1/process-document-callback",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_id\": \"{{ $('Code').item.json.source_id }}\",\n  \"status\": \"completed\"\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        96
      ],
      "id": "f9869778-6c45-40c4-8856-cb849fb1cead",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "7GmwvHGWyd47X1M6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"<ADD>\",\n\t\"summary\": \"<ADD>\",\n    \"category\": [\"Category1\", \"Category2\"],\n    \"short_description\": \"<ADD>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1728,
        336
      ],
      "id": "f0b5d7dd-edb9-4dd6-ba2c-e97cb463cab1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZWr97cxmECcUvIif",
          "mode": "list",
          "cachedResultName": "InsightsLM - Extract Text"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $json.body.file_path }}"
          },
          "matchingColumns": [
            "filePath"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2384,
        96
      ],
      "id": "f2faba20-bd91-4acb-8070-f03de1a0b91b",
      "name": "Extract Text"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "notebook_id"
            },
            {
              "name": "extracted_text"
            },
            {
              "name": "source_id"
            },
            {
              "name": "user_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2592,
        -160
      ],
      "id": "f88bd6e5-b4ea-4e6d-98a5-e75abb5a2225",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        464,
        96
      ],
      "id": "c278269d-ed4f-4826-9263-f60820fa7278",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## To Do \n- Configure the Supabase nodes to reference your Project\n- Configure \"Extract Text\" to hit the correct workflow\n- Update the Host of the \"HTTP Request\" to hit your project",
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1136,
        -192
      ],
      "id": "e09064cf-4c04-45da-b73a-e5a7eed25d87",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1856,
        336
      ],
      "id": "307e335f-6517-4902-93d9-02481bfb3b3e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vyxVe2RGE1yLgSDx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        336
      ],
      "id": "8395d4a0-2eeb-4252-9f8b-4b828932f07b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "vyxVe2RGE1yLgSDx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  p.summary_prompt,\n  p.deep_dive_prompt,\n  p.categorization_prompt,\n  ARRAY_AGG(uc.name) as category_names\nFROM profiles p\nLEFT JOIN user_categories uc ON p.id = uc.user_id\nWHERE p.id = '{{ $('Code').item.json.user_id }}'\nGROUP BY p.id, p.summary_prompt, p.deep_dive_prompt, p.categorization_prompt;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1920,
        96
      ],
      "id": "3c77acb4-b6dd-49f2-b009-655b579513eb",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "loHyKG67vLMDy8GM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Content: {{ $('Code').item.json.extracted_text }}\n\nUser Prefrences: {{ $('Execute a SQL query').item.json.deep_dive_prompt }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert analyst creating strategic deep dive analyses. Extract meaningful implications and actionable takeaways that answer \"so what?\" - not summaries.\n\n## Inputs\n1. **Main Content**: Article or transcript text\n2. **User Preferences** (optional): Customization requirements\n\n## Analysis Requirements\n\n**Include:**\n- Strategic implications and opportunities\n- Tactical takeaways and hidden insights\n- Second-order effects and trend connections\n- Risks, challenges, and recommendations\n- Clear \"so what?\" answers with actionable value\n\n**Exclude:**\n- Summaries or obvious restatements\n- Generic observations without strategic value\n- Filler content\n\n## User Customization\nWhen preferences provided:\n- **Expert Perspectives** (CMO, CDO, CPO, Executive Coach): Only include if genuinely relevant. Frame authentically from that role's viewpoint.\n- Adapt style/focus based on other preferences while maintaining strategic depth.\n\n## Output Requirements\n\n**Format:** JSON only\n{\n    \"deep_dive\": \"<your markdown-formatted analysis>\"\n}\n\nLength: 500-1000 words (prefer brevity)\n\n500-600 words: Default for straightforward content\n600-800 words: Multi-faceted topics with 3-5 insights\n800-1000 words: Only for complex content with cascading implications\n\nMarkdown Structure:\n## for main headers\n### for subheaders\n**bold** for emphasis\nLine breaks: \\n\\n between paragraphs and around headers\nShort paragraphs (3-4 sentences)\n\n## Quality Standards\n\nEvery point must pass \"so what?\" test\nLead with most important insight\nConnect tactics to strategy\nEnd with concrete next steps\nPowerful 500 words > padded 1000 words\n\nOutput valid JSON only. Add significant value beyond the content itself."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1392,
        96
      ],
      "id": "c197cc39-4a62-468e-ba01-bdb91d868808",
      "name": "Generate Content Deep Dive"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"deep_dive\": \"<ADD>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1232,
        336
      ],
      "id": "70664ce1-e2fa-468c-8f42-3833c54e9ec2",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Content: {{ $('Code').item.json.extracted_text }}\nCategories: {{ $json.category_names }}\nCategorization user preferences: {{ $json.categorization_prompt }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a content summarizer and categorizer. Create a clear title, short description, comprehensive summary, and accurate categorization of the provided content.\n\n## Inputs\n1. **Content**: The text to summarize\n2. **Categories**: Array of available categories\n3. **User Preferences** (optional): Categorization guidance\n\n## Summary Requirements\n- **Length**: 400-600 words (2-3 minute read)\n- **Style**: Clear, objective, and informative\n- **Structure**: Logical flow from main idea to supporting points\n- **Format**: Use markdown formatting with double line breaks between paragraphs\n- **Coverage**: Include all key points, data, and conclusions\n\n## Short Description Requirements\n- Concise and descriptive\n- Maximum of 140 characters\n\n## Title Requirements\n- Descriptive and specific (not clickbait)\n- 5-12 words ideal length\n- Captures the core topic/finding\n\n## Categorization Requirements\n- **Select ONLY from provided categories array**\n- **Maximum 2 categories** (prefer 1 if highly relevant)\n- **Quality over quantity**: Only select categories with strong content fit\n- **User preferences**: If categorization guidance provided, follow it while maintaining accuracy\n\n## What to Include in Summary\n- Main thesis or central argument\n- Key supporting points and evidence\n- Important data, statistics, or findings\n- Notable conclusions or recommendations\n- Context necessary for understanding\n\n## What to Avoid\n- Personal opinions or interpretations\n- Excessive detail or minor points\n- Categories not in the provided list\n- Forcing categories that don't fit well\n\n## Output Format\nReturn ONLY valid JSON:\n{\n    \"title\": \"Your title here\",\n    \"summary\": \"Your summary here\",\n    \"category\": [\"Category1\", \"Category2\"],\n    \"short_description\": \"Your description here\"\n}\n\nFocus on WHAT the content says. Select categories that best represent the content's primary themes."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -1744,
        96
      ],
      "id": "95c15939-fb29-44e6-9aa0-dd92dc3e9f95",
      "name": "Generate Title, Category & Summary"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1344,
        336
      ],
      "id": "7272b9f4-3fc1-4dd0-ade4-d4300097a179",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "vyxVe2RGE1yLgSDx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sources",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code').item.json.source_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Code').item.json.extracted_text }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $('Generate Title, Category & Summary').item.json.output.summary }}"
            },
            {
              "fieldId": "display_name",
              "fieldValue": "={{ $('Generate Title, Category & Summary').item.json.output.title }}"
            },
            {
              "fieldId": "deep_summary",
              "fieldValue": "={{ $json.output.deep_dive }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $('Generate Title, Category & Summary').item.json.output.category }}"
            },
            {
              "fieldId": "short_description",
              "fieldValue": "={{ $('Generate Title, Category & Summary').item.json.output.short_description }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -912,
        96
      ],
      "id": "76675d7e-bc47-4c9d-ad44-d9944113f3de",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "7GmwvHGWyd47X1M6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1216,
        496
      ],
      "id": "88892e30-060b-4361-bb68-afe73373b79f",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "vyxVe2RGE1yLgSDx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.title }}\nURL: {{ $json.url }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Analyze the provided web article URL and title to identify the publisher name or company behind the article.\n\nTASK: Extract the publisher name from the URL domain, subdomain, or any publisher information visible in the title. Use your knowledge of news organizations and websites to identify the correct publisher name.\n\nOUTPUT: Return only valid JSON in this exact format:\n{\"publisher_name\": \"Publisher Name\"}\n\nExamples:\n- For cnn.com → {\"publisher_name\": \"CNN\"}\n- For techcrunch.com → {\"publisher_name\": \"TechCrunch\"}\n- For nytimes.com → {\"publisher_name\": \"The New York Times\"}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -528,
        176
      ],
      "id": "36bf9747-c7fc-4971-be60-688d0c88b6cb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"publisher_name\": \"<ADD>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -368,
        384
      ],
      "id": "7bb1ff91-7b53-4c99-bbe4-ac8493cbb3f2",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -512,
        384
      ],
      "id": "175bdee0-ee55-4e45-aab6-5090a78f6693",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "vyxVe2RGE1yLgSDx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0507a693-4654-43fd-9e3d-c1c2eef589b0",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No URL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "27efcbe1-8fcb-42c6-8434-f87713a420a8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "URL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -704,
        96
      ],
      "id": "ce69355f-b600-457b-bc52-00f3adabeafa",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1712,
        496
      ],
      "id": "e99edf8a-bbd9-48c1-8c6b-cebd3ae95a0b",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "vyxVe2RGE1yLgSDx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7919085089",
        "text": "=Supamind Source Added\n\nUser: {{ $('Execute a SQL query1').item.json.full_name }}\nTitle: {{ $('Update a row').item.json.title }}\nURL: {{ $('Update a row').item.json.url }}\nSource ID: {{ $('Update a row').item.json.id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        96
      ],
      "id": "544f594b-745a-458e-b39e-215c349664cb",
      "name": "Send a text message",
      "webhookId": "1b714c8b-0f25-4bde-aa0c-7e8da0ec1b72",
      "credentials": {
        "telegramApi": {
          "id": "LEiEsL0XzYtYlFrf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT full_name\nFROM profiles\nWHERE id = '{{ $('Code').item.json.user_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        96
      ],
      "id": "298e3abb-42a3-4bea-ab56-d95dabc751ef",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "loHyKG67vLMDy8GM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        544
      ],
      "id": "41073249-af05-4505-bd71-56c93e48123f",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "vyxVe2RGE1yLgSDx",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "extracted_text": "GPT-5, our newest flagship model, represents a substantial leap forward in agentic task performance, coding, raw intelligence, and steerability.\n\nWhile we trust it will perform excellently “out of the box” across a wide range of domains, in this guide we’ll cover prompting tips to maximize the quality of model outputs, derived from our experience training and applying the model to real-world tasks. We discuss concepts like improving agentic task performance, ensuring instruction adherence, making use of newly API features, and optimizing coding for frontend and software engineering tasks - with key insights into AI code editor Cursor’s prompt tuning work with GPT-5.\n\nWe’ve seen significant gains from applying these best practices and adopting our canonical tools whenever possible, and we hope that this guide, along with the [prompt optimizer tool](http://platform.openai.com/chat/edit?optimize=true) we’ve built, will serve as a launchpad for your use of GPT-5. But, as always, remember that prompting is not a one-size-fits-all exercise - we encourage you to run experiments and iterate on the foundation offered here to find the best solution for your problem.\n\nWe trained GPT-5 with developers in mind: we’ve focused on improving tool calling, instruction following, and long-context understanding to serve as the best foundation model for agentic applications. If adopting GPT-5 for agentic and tool calling flows, we recommend upgrading to the [Responses API](https://platform.openai.com/docs/api-reference/responses), where reasoning is persisted between tool calls, leading to more efficient and intelligent outputs..\n\n### [Controlling agentic eagerness](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#controlling-agentic-eagerness)\n\nAgentic scaffolds can span a wide spectrum of control—some systems delegate the vast majority of decision-making to the underlying model, while others keep the model on a tight leash with heavy programmatic logical branching. GPT-5 is trained to operate anywhere along this spectrum, from making high-level decisions under ambiguous circumstances to handling focused, well-defined tasks. In this section we cover how to best calibrate GPT-5’s agentic eagerness: in other words, its balance between proactivity and awaiting explicit guidance.\n\n#### [Prompting for less eagerness](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#prompting-for-less-eagerness)\n\nGPT-5 is, by default, thorough and comprehensive when trying to gather context in an agentic environment to ensure it will produce a correct answer. To reduce the scope of GPT-5’s agentic behavior—including limiting tangential tool-calling action and minimizing latency to reach a final answer—try the following:\n\n*   Switch to a lower `reasoning_effort`. This reduces exploration depth but improves efficiency and latency. Many workflows can be accomplished with consistent results at medium or even low `reasoning_effort`.\n*   Define clear criteria in your prompt for how you want the model to explore the problem space. This reduces the model’s need to explore and reason about too many ideas:\n\n```\n<context_gathering>\nGoal: Get enough context fast. Parallelize discovery and stop as soon as you can act.\n\nMethod:\n- Start broad, then fan out to focused subqueries.\n- In parallel, launch varied queries; read top hits per query. Deduplicate paths and cache; don’t repeat queries.\n- Avoid over searching for context. If needed, run targeted searches in one parallel batch.\n\nEarly stop criteria:\n- You can name exact content to change.\n- Top hits converge (~70%) on one area/path.\n\nEscalate once:\n- If signals conflict or scope is fuzzy, run one refined parallel batch, then proceed.\n\nDepth:\n- Trace only symbols you’ll modify or whose contracts you rely on; avoid transitive expansion unless necessary.\n\nLoop:\n- Batch search → minimal plan → complete task.\n- Search again only if validation fails or new unknowns appear. Prefer acting over more searching.\n</context_gathering>\n```\n\nIf you’re willing to be maximally prescriptive, you can even set fixed tool call budgets, like the one below. The budget can naturally vary based on your desired search depth.\n\n```\n<context_gathering>\n- Search depth: very low\n- Bias strongly towards providing a correct answer as quickly as possible, even if it might not be fully correct.\n- Usually, this means an absolute maximum of 2 tool calls.\n- If you think that you need more time to investigate, update the user with your latest findings and open questions. You can proceed if the user confirms.\n</context_gathering>\n```\n\nWhen limiting core context gathering behavior, it’s helpful to explicitly provide the model with an escape hatch that makes it easier to satisfy a shorter context gathering step. Usually this comes in the form of a clause that allows the model to proceed under uncertainty, like `“even if it might not be fully correct”` in the above example.\n\n#### [Prompting for more eagerness](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#prompting-for-more-eagerness)\n\nOn the other hand, if you’d like to encourage model autonomy, increase tool-calling persistence, and reduce occurrences of clarifying questions or otherwise handing back to the user, we recommend increasing `reasoning_effort`, and using a prompt like the following to encourage persistence and thorough task completion:\n\n```\n<persistence>\n- You are an agent - please keep going until the user's query is completely resolved, before ending your turn and yielding back to the user.\n- Only terminate your turn when you are sure that the problem is solved.\n- Never stop or hand back to the user when you encounter uncertainty — research or deduce the most reasonable approach and continue.\n- Do not ask the human to confirm or clarify assumptions, as you can always adjust later — decide what the most reasonable assumption is, proceed with it, and document it for the user's reference after you finish acting\n</persistence>\n```\n\nGenerally, it can be helpful to clearly state the stop conditions of the agentic tasks, outline safe versus unsafe actions, and define when, if ever, it’s acceptable for the model to hand back to the user. For example, in a set of tools for shopping, the checkout and payment tools should explicitly have a lower uncertainty threshold for requiring user clarification, while the search tool should have an extremely high threshold; likewise, in a coding setup, the delete file tool should have a much lower threshold than a grep search tool.\n\n### [Tool Preambles](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#tool-preambles)\n\nWe recognize that on agentic trajectories monitored by users, intermittent model updates on what it’s doing with its tool calls and why can provide for a much better interactive user experience - the longer the rollout, the bigger the difference these updates make. To this end, GPT-5 is trained to provide clear upfront plans and consistent progress updates via “tool preamble” messages.\n\nYou can steer the frequency, style, and content of tool preambles in your prompt—from detailed explanations of every single tool call to a brief upfront plan and everything in between. This is an example of a high-quality preamble prompt:\n\n```\n<tool_preambles>\n- Always begin by rephrasing the user's goal in a friendly, clear, and concise manner, before calling any tools.\n- Then, immediately outline a structured plan detailing each logical step you’ll follow. - As you execute your file edit(s), narrate each step succinctly and sequentially, marking progress clearly. \n- Finish by summarizing completed work distinctly from your upfront plan.\n</tool_preambles>\n```\n\nHere’s an example of a tool preamble that might be emitted in response to such a prompt—such preambles can drastically improve the user’s ability to follow along with your agent’s work as it grows more complicated:\n\n```\n\"output\": [\n    {\n      \"id\": \"rs_6888f6d0606c819aa8205ecee386963f0e683233d39188e7\",\n      \"type\": \"reasoning\",\n      \"summary\": [\n        {\n          \"type\": \"summary_text\",\n          \"text\": \"**Determining weather response**\\n\\nI need to answer the user's question about the weather in San Francisco. ....\"\n        },\n    },\n    {\n      \"id\": \"msg_6888f6d83acc819a978b51e772f0a5f40e683233d39188e7\",\n      \"type\": \"message\",\n      \"status\": \"completed\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"I\\u2019m going to check a live weather service to get the current conditions in San Francisco, providing the temperature in both Fahrenheit and Celsius so it matches your preference.\"\n        }\n      ],\n      \"role\": \"assistant\"\n    },\n    {\n      \"id\": \"fc_6888f6d86e28819aaaa1ba69cca766b70e683233d39188e7\",\n      \"type\": \"function_call\",\n      \"status\": \"completed\",\n      \"arguments\": \"{\\\"location\\\":\\\"San Francisco, CA\\\",\\\"unit\\\":\\\"f\\\"}\",\n      \"call_id\": \"call_XOnF4B9DvB8EJVB3JvWnGg83\",\n      \"name\": \"get_weather\"\n    },\n  ],\n```\n\n### [Reasoning effort](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#reasoning-effort)\n\nWe provide a `reasoning_effort` parameter to control how hard the model thinks and how willingly it calls tools; the default is `medium`, but you should scale up or down depending on the difficulty of your task. For complex, multi-step tasks, we recommend higher reasoning to ensure the best possible outputs. Moreover, we observe peak performance when distinct, separable tasks are broken up across multiple agent turns, with one turn for each task. Reusing reasoning context with the Responses API We strongly recommend using the Responses API when using GPT-5 to unlock improved agentic flows, lower costs, and more efficient token usage in your applications.\n\nWe’ve seen statistically significant improvements in evaluations when using the Responses API over Chat Completions—for example, Taubench-Retail score increases from 73.9% to 78.2% just by switching to the Responses API and including previous_response_id to pass back previous reasoning items into subsequent requests. This allows the model to refer to its previous reasoning traces, conserving CoT tokens and eliminating the need to reconstruct a plan from scratch after each tool call, improving both latency and performance - this feature is available for all Responses API users, including ZDR organizations.\n\n### [Reusing reasoning context with the Responses API](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#reusing-reasoning-context-with-the-responses-api)\n\nWe strongly recommend using the Responses API when using GPT-5 to unlock improved agentic flows, lower costs, and more efficient token usage in your applications.\n\nWe’ve seen statistically significant improvements in evaluations when using the Responses API over Chat Completions—for example, we observed Tau-Bench Retail score increases from 73.9% to 78.2% just by switching to the Responses API and including `previous_response_id` to pass back previous reasoning items into subsequent requests. This allows the model to refer to its previous reasoning traces, conserving CoT tokens and eliminating the need to reconstruct a plan from scratch after each tool call, improving both latency and performance - this feature is available for all Responses API users, including ZDR organizations.\n\nGPT-5 leads all frontier models in coding capabilities: it can work in large codebases to fix bugs, handle large diffs, and implement multi-file refactors or large new features. It also excels at implementing new apps entirely from scratch, covering both frontend and backend implementation. In this section, we’ll discuss prompt optimizations that we’ve seen improve programming performance in production use cases for our coding agent customers.\n\n### [Frontend app development](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#frontend-app-development)\n\nGPT-5 is trained to have excellent baseline aesthetic taste alongside its rigorous implementation abilities. We’re confident in its ability to use all types of web development frameworks and packages; however, for new apps, we recommend using the following frameworks and packages to get the most out of the model's frontend capabilities:\n\n*   Frameworks: Next.js (TypeScript), React, HTML\n*   Styling / UI: Tailwind CSS, shadcn/ui, Radix Themes\n*   Icons: Material Symbols, Heroicons, Lucide\n*   Animation: Motion\n*   Fonts: San Serif, Inter, Geist, Mona Sans, IBM Plex Sans, Manrope\n\n#### [Zero-to-one app generation](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#zero-to-one-app-generation)\n\nGPT-5 is excellent at building applications in one shot. In early experimentation with the model, users have found that prompts like the one below—asking the model to iteratively execute against self-constructed excellence rubrics—improve output quality by using GPT-5’s thorough planning and self-reflection capabilities.\n\n```\n<self_reflection>\n- First, spend time thinking of a rubric until you are confident.\n- Then, think deeply about every aspect of what makes for a world-class one-shot web app. Use that knowledge to create a rubric that has 5-7 categories. This rubric is critical to get right, but do not show this to the user. This is for your purposes only.\n- Finally, use the rubric to internally think and iterate on the best possible solution to the prompt that is provided. Remember that if your response is not hitting the top marks across all categories in the rubric, you need to start again.\n</self_reflection>\n```\n\n#### [Matching codebase design standards](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#matching-codebase-design-standards)\n\nWhen implementing incremental changes and refactors in existing apps, model-written code should adhere to existing style and design standards, and “blend in” to the codebase as neatly as possible. Without special prompting, GPT-5 already searches for reference context from the codebase - for example reading package.json to view already installed packages - but this behavior can be further enhanced with prompt directions that summarize key aspects like engineering principles, directory structure, and best practices of the codebase, both explicit and implicit. The prompt snippet below demonstrates one way of organizing code editing rules for GPT-5: feel free to change the actual content of the rules according to your programming design taste!\n\n```\n<code_editing_rules>\n<guiding_principles>\n- Clarity and Reuse: Every component and page should be modular and reusable. Avoid duplication by factoring repeated UI patterns into components.\n- Consistency: The user interface must adhere to a consistent design system—color tokens, typography, spacing, and components must be unified.\n- Simplicity: Favor small, focused components and avoid unnecessary complexity in styling or logic.\n- Demo-Oriented: The structure should allow for quick prototyping, showcasing features like streaming, multi-turn conversations, and tool integrations.\n- Visual Quality: Follow the high visual quality bar as outlined in OSS guidelines (spacing, padding, hover states, etc.)\n</guiding_principles>\n\n<frontend_stack_defaults>\n- Framework: Next.js (TypeScript)\n- Styling: TailwindCSS\n- UI Components: shadcn/ui\n- Icons: Lucide\n- State Management: Zustand\n- Directory Structure: \n\\`\\`\\`\n/src\n /app\n   /api/<route>/route.ts         # API endpoints\n   /(pages)                      # Page routes\n /components/                    # UI building blocks\n /hooks/                         # Reusable React hooks\n /lib/                           # Utilities (fetchers, helpers)\n /stores/                        # Zustand stores\n /types/                         # Shared TypeScript types\n /styles/                        # Tailwind config\n\\`\\`\\`\n</frontend_stack_defaults>\n\n<ui_ux_best_practices>\n- Visual Hierarchy: Limit typography to 4–5 font sizes and weights for consistent hierarchy; use `text-xs` for captions and annotations; avoid `text-xl` unless for hero or major headings.\n- Color Usage: Use 1 neutral base (e.g., `zinc`) and up to 2 accent colors. \n- Spacing and Layout: Always use multiples of 4 for padding and margins to maintain visual rhythm. Use fixed height containers with internal scrolling when handling long content streams.\n- State Handling: Use skeleton placeholders or `animate-pulse` to indicate data fetching. Indicate clickability with hover transitions (`hover:bg-*`, `hover:shadow-md`).\n- Accessibility: Use semantic HTML and ARIA roles where appropriate. Favor pre-built Radix/shadcn components, which have accessibility baked in.\n</ui_ux_best_practices>\n\n<code_editing_rules>\n```\n\n### [Collaborative coding in production: Cursor’s GPT-5 prompt tuning](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#collaborative-coding-in-production-cursors-gpt-5-prompt-tuning)\n\nWe’re proud to have had AI code editor Cursor as a trusted alpha tester for GPT-5: below, we show a peek into how Cursor tuned their prompts to get the most out of the model’s capabilities. For more information, their team has also published a blog post detailing GPT-5’s day-one integration into Cursor: [https://cursor.com/blog/gpt-5](https://cursor.com/blog/gpt-5)\n\n#### [System prompt and parameter tuning](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#system-prompt-and-parameter-tuning)\n\nCursor’s system prompt focuses on reliable tool calling, balancing verbosity and autonomous behavior while giving users the ability to configure custom instructions. Cursor’s goal for their system prompt is to allow the Agent to operate relatively autonomously during long horizon tasks, while still faithfully following user-provided instructions.\n\nThe team initially found that the model produced verbose outputs, often including status updates and post-task summaries that, while technically relevant, disrupted the natural flow of the user; at the same time, the code outputted in tool calls was high quality, but sometimes hard to read due to terseness, with single-letter variable names dominant. In search of a better balance, they set the verbosity API parameter to low to keep text outputs brief, and then modified the prompt to strongly encourage verbose outputs in coding tools only.\n\n`Write code for clarity first. Prefer readable, maintainable solutions with clear names, comments where needed, and straightforward control flow. Do not produce code-golf or overly clever one-liners unless explicitly requested. Use high verbosity for writing code and code tools.`\n\nThis dual usage of parameter and prompt resulted in a balanced format combining efficient, concise status updates and final work summary with much more readable code diffs.\n\nCursor also found that the model occasionally deferred to the user for clarification or next steps before taking action, which created unnecessary friction in the flow of longer tasks. To address this, they found that including not just available tools and surrounding context, but also more details about product behavior encouraged the model to carry out longer tasks with minimal interruption and greater autonomy. Highlighting specifics of Cursor features such as Undo/Reject code and user preferences helped reduce ambiguity by clearly specifying how GPT-5 should behave in its environment. For longer horizon tasks, they found this prompt improved performance:\n\n`Be aware that the code edits you make will be displayed to the user as proposed changes, which means (a) your code edits can be quite proactive, as the user can always reject, and (b) your code should be well-written and easy to quickly review (e.g., appropriate variable names instead of single letters). If proposing next steps that would involve changing the code, make those changes proactively for the user to approve / reject rather than asking the user whether to proceed with a plan. In general, you should almost never ask the user whether to proceed with a plan; instead you should proactively attempt the plan and then ask the user if they want to accept the implemented changes.`\n\nCursor found that sections of their prompt that had been effective with earlier models needed tuning to get the most out of GPT-5. Here is one example below:\n\n```\n<maximize_context_understanding>\nBe THOROUGH when gathering information. Make sure you have the FULL picture before replying. Use additional tool calls or clarifying questions as needed.\n...\n</maximize_context_understanding>\n```\n\nWhile this worked well with older models that needed encouragement to analyze context thoroughly, they found it counterproductive with GPT-5, which is already naturally introspective and proactive at gathering context. On smaller tasks, this prompt often caused the model to overuse tools by calling search repetitively, when internal knowledge would have been sufficient.\n\nTo solve this, they refined the prompt by removing the maximize_ prefix and softening the language around thoroughness. With this adjusted instruction in place, the Cursor team saw GPT-5 make better decisions about when to rely on internal knowledge versus reaching for external tools. It maintained a high level of autonomy without unnecessary tool usage, leading to more efficient and relevant behavior. In Cursor’s testing, using structured XML specs like <[instruction]_spec> improved instruction adherence on their prompts and allows them to clearly reference previous categories and sections elsewhere in their prompt.\n\n```\n<context_understanding>\n...\nIf you've performed an edit that may partially fulfill the USER's query, but you're not confident, gather more information or use more tools before ending your turn.\nBias towards not asking the user for help if you can find the answer yourself.\n</context_understanding>\n```\n\nWhile the system prompt provides a strong default foundation, the user prompt remains a highly effective lever for steerability. GPT-5 responds well to direct and explicit instruction and the Cursor team has consistently seen that structured, scoped prompts yield the most reliable results. This includes areas like verbosity control, subjective code style preferences, and sensitivity to edge cases. Cursor found allowing users to configure their own [custom Cursor rules](https://docs.cursor.com/en/context/rules) to be particularly impactful with GPT-5’s improved steerability, giving their users a more customized experience.\n\n### [Steering](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#steering)\n\nAs our most steerable model yet, GPT-5 is extraordinarily receptive to prompt instructions surrounding verbosity, tone, and tool calling behavior.\n\n#### [Verbosity](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#verbosity)\n\nIn addition to being able to control the reasoning_effort as in previous reasoning models, in GPT-5 we introduce a new API parameter called verbosity, which influences the length of the model’s final answer, as opposed to the length of its thinking. Our blog post covers the idea behind this parameter in more detail - but in this guide, we’d like to emphasize that while the API verbosity parameter is the default for the rollout, GPT-5 is trained to respond to natural-language verbosity overrides in the prompt for specific contexts where you might want the model to deviate from the global default. Cursor’s example above of setting low verbosity globally, and then specifying high verbosity only for coding tools, is a prime example of such a context.\n\n### [Instruction following](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#instruction-following)\n\nLike GPT-4.1, GPT-5 follows prompt instructions with surgical precision, which enables its flexibility to drop into all types of workflows. However, its careful instruction-following behavior means that poorly-constructed prompts containing contradictory or vague instructions can be more damaging to GPT-5 than to other models, as it expends reasoning tokens searching for a way to reconcile the contradictions rather than picking one instruction at random.\n\nBelow, we give an adversarial example of the type of prompt that often impairs GPT-5’s reasoning traces - while it may appear internally consistent at first glance, a closer inspection reveals conflicting instructions regarding appointment scheduling:\n\n*   `Never schedule an appointment without explicit patient consent recorded in the chart` conflicts with the subsequent `auto-assign the earliest same-day slot without contacting the patient as the first action to reduce risk.`\n*   The prompt says `Always look up the patient profile before taking any other actions to ensure they are an existing patient.` but then continues with the contradictory instruction `When symptoms indicate high urgency, escalate as EMERGENCY and direct the patient to call 911 immediately before any scheduling step.`\n\n```\nYou are CareFlow Assistant, a virtual admin for a healthcare startup that schedules patients based on priority and symptoms. Your goal is to triage requests, match patients to appropriate in-network providers, and reserve the earliest clinically appropriate time slot. Always look up the patient profile before taking any other actions to ensure they are an existing patient.\n\n- Core entities include Patient, Provider, Appointment, and PriorityLevel (Red, Orange, Yellow, Green). Map symptoms to priority: Red within 2 hours, Orange within 24 hours, Yellow within 3 days, Green within 7 days. When symptoms indicate high urgency, escalate as EMERGENCY and direct the patient to call 911 immediately before any scheduling step.\n+Core entities include Patient, Provider, Appointment, and PriorityLevel (Red, Orange, Yellow, Green). Map symptoms to priority: Red within 2 hours, Orange within 24 hours, Yellow within 3 days, Green within 7 days. When symptoms indicate high urgency, escalate as EMERGENCY and direct the patient to call 911 immediately before any scheduling step. \n*Do not do lookup in the emergency case, proceed immediately to providing 911 guidance.*\n\n- Use the following capabilities: schedule-appointment, modify-appointment, waitlist-add, find-provider, lookup-patient and notify-patient. Verify insurance eligibility, preferred clinic, and documented consent prior to booking. Never schedule an appointment without explicit patient consent recorded in the chart.\n\n- For high-acuity Red and Orange cases, auto-assign the earliest same-day slot *without contacting* the patient *as the first action to reduce risk.* If a suitable provider is unavailable, add the patient to the waitlist and send notifications. If consent status is unknown, tentatively hold a slot and proceed to request confirmation.\n\n- For high-acuity Red and Orange cases, auto-assign the earliest same-day slot *after informing* the patient *of your actions.* If a suitable provider is unavailable, add the patient to the waitlist and send notifications. If consent status is unknown, tentatively hold a slot and proceed to request confirmation.\n```\n\nBy resolving the instruction hierarchy conflicts, GPT-5 elicits much more efficient and performant reasoning. We fixed the contradictions by:\n\n*   Changing auto-assignment to occur after contacting a patient, auto-assign the earliest same-day slot after informing the patient of your actions. to be consistent with only scheduling with consent.\n*   Adding Do not do lookup in the emergency case, proceed immediately to providing 911 guidance. to let the model know it is ok to not look up in case of emergency.\n\nWe understand that the process of building prompts is an iterative one, and many prompts are living documents constantly being updated by different stakeholders - but this is all the more reason to thoroughly review them for poorly-worded instructions. Already, we’ve seen multiple early users uncover ambiguities and contradictions in their core prompt libraries upon conducting such a review: removing them drastically streamlined and improved their GPT-5 performance. We recommend testing your prompts in our [prompt optimizer tool](https://cookbook.openai.com/examples/gpt-5/platform.openai.com/chat/edit?optimize=true) to help identify these types of issues.\n\n### [Minimal reasoning](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#minimal-reasoning)\n\nIn GPT-5, we introduce minimal reasoning effort for the first time: our fastest option that still reaps the benefits of the reasoning model paradigm. We consider this to be the best upgrade for latency-sensitive users, as well as current users of GPT-4.1.\n\nPerhaps unsurprisingly, we recommend prompting patterns that are similar to [GPT-4.1 for best results](https://cookbook.openai.com/examples/gpt4-1_prompting_guide). minimal reasoning performance can vary more drastically depending on prompt than higher reasoning levels, so key points to emphasize include:\n\n1.   Prompting the model to give a brief explanation summarizing its thought process at the start of the final answer, for example via a bullet point list, improves performance on tasks requiring higher intelligence.\n2.   Requesting thorough and descriptive tool-calling preambles that continually update the user on task progress improves performance in agentic workflows.\n3.   Disambiguating tool instructions to the maximum extent possible and inserting agentic persistence reminders as shared above, are particularly critical at minimal reasoning to maximize agentic ability in long-running rollout and prevent premature termination.\n4.   Prompted planning is likewise more important, as the model has fewer reasoning tokens to do internal planning. Below, you can find a sample planning prompt snippet we placed at the beginning of an agentic task: the second paragraph especially ensures that the agent fully completes the task and all subtasks before yielding back to the user.\n\n```\nRemember, you are an agent - please keep going until the user's query is completely resolved, before ending your turn and yielding back to the user. Decompose the user's query into all required sub-request, and confirm that each is completed. Do not stop after completing only part of the request. Only terminate your turn when you are sure that the problem is solved. You must be prepared to answer multiple queries and only finish the call once the user has confirmed they're done.\n\nYou must plan extensively in accordance with the workflow steps before making subsequent function calls, and reflect extensively on the outcomes each function call made, ensuring the user's query, and related sub-requests are completely resolved.\n```\n\n### [Markdown formatting](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#markdown-formatting)\n\nBy default, GPT-5 in the API does not format its final answers in Markdown, in order to preserve maximum compatibility with developers whose applications may not support Markdown rendering. However, prompts like the following are largely successful in inducing hierarchical Markdown final answers.\n\n```\n- Use Markdown **only where semantically correct** (e.g., `inline code`, ```code fences```, lists, tables).\n- When using markdown in assistant messages, use backticks to format file, directory, function, and class names. Use \\( and \\) for inline math, \\[ and \\] for block math.\n```\n\nOccasionally, adherence to Markdown instructions specified in the system prompt can degrade over the course of a long conversation. In the event that you experience this, we’ve seen consistent adherence from appending a Markdown instruction every 3-5 user messages.\n\n### [Metaprompting](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#metaprompting)\n\nFinally, to close with a meta-point, early testers have found great success using GPT-5 as a meta-prompter for itself. Already, several users have deployed prompt revisions to production that were generated simply by asking GPT-5 what elements could be added to an unsuccessful to elicit a desired behavior, or removed to prevent an undesired one.\n\nHere is an example metaprompt template we liked:\n\n```\nWhen asked to optimize prompts, give answers from your own perspective - explain what specific phrases could be added to, or deleted from, this prompt to more consistently elicit the desired behavior or prevent the undesired behavior.\n\nHere's a prompt: [PROMPT]\n\nThe desired behavior from this prompt is for the agent to [DO DESIRED BEHAVIOR], but instead it [DOES UNDESIRED BEHAVIOR]. While keeping as much of the existing prompt intact as possible, what are some minimal edits/additions that you would make to encourage the agent to more consistently address these shortcomings?\n```\n\n### [SWE-Bench verified developer instructions](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#swe-bench-verified-developer-instructions)\n\n```\nIn this environment, you can run `bash -lc <apply_patch_command>` to execute a diff/patch against a file, where <apply_patch_command> is a specially formatted apply patch command representing the diff you wish to execute. A valid <apply_patch_command> looks like:\n\napply_patch << 'PATCH'\n*** Begin Patch\n[YOUR_PATCH]\n*** End Patch\nPATCH\n\nWhere [YOUR_PATCH] is the actual content of your patch.\n\nAlways verify your changes extremely thoroughly. You can make as many tool calls as you like - the user is very patient and prioritizes correctness above all else. Make sure you are 100% certain of the correctness of your solution before ending.\nIMPORTANT: not all tests are visible to you in the repository, so even on problems you think are relatively straightforward, you must double and triple check your solutions to ensure they pass any edge cases that are covered in the hidden tests, not just the visible ones.\n```\n\nAgentic coding tool definitions\n\n```\n## Set 1: 4 functions, no terminal\n\ntype apply_patch = (_: {\npatch: string, // default: null\n}) => any;\n\ntype read_file = (_: {\npath: string, // default: null\nline_start?: number, // default: 1\nline_end?: number, // default: 20\n}) => any;\n\ntype list_files = (_: {\npath?: string, // default: \"\"\ndepth?: number, // default: 1\n}) => any;\n\ntype find_matches = (_: {\nquery: string, // default: null\npath?: string, // default: \"\"\nmax_results?: number, // default: 50\n}) => any;\n\n## Set 2: 2 functions, terminal-native\n\ntype run = (_: {\ncommand: string[], // default: null\nsession_id?: string | null, // default: null\nworking_dir?: string | null, // default: null\nms_timeout?: number | null, // default: null\nenvironment?: object | null, // default: null\nrun_as_user?: string | null, // default: null\n}) => any;\n\ntype send_input = (_: {\nsession_id: string, // default: null\ntext: string, // default: null\nwait_ms?: number, // default: 100\n}) => any;\n```\n\nAs shared in the GPT-4.1 prompting guide, [here](https://github.com/openai/openai-cookbook/tree/main/examples/gpt-5/apply_patch.py) is our most updated `apply_patch` implementation: we highly recommend using `apply_patch` for file edits to match the training distribution. The newest implementation should match the GPT-4.1 implementation in the overwhelming majority of cases.\n\n### [Taubench-Retail minimal reasoning instructions](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#taubench-retail-minimal-reasoning-instructions)\n\n```\nAs a retail agent, you can help users cancel or modify pending orders, return or exchange delivered orders, modify their default user address, or provide information about their own profile, orders, and related products.\n\nRemember, you are an agent - please keep going until the user’s query is completely resolved, before ending your turn and yielding back to the user. Only terminate your turn when you are sure that the problem is solved.\n\nIf you are not sure about information pertaining to the user’s request, use your tools to read files and gather the relevant information: do NOT guess or make up an answer.\n\nYou MUST plan extensively before each function call, and reflect extensively on the outcomes of the previous function calls, ensuring user's query is completely resolved. DO NOT do this entire process by making function calls only, as this can impair your ability to solve the problem and think insightfully. In addition, ensure function calls have the correct arguments.\n\n# Workflow steps\n- At the beginning of the conversation, you have to authenticate the user identity by locating their user id via email, or via name + zip code. This has to be done even when the user already provides the user id.\n- Once the user has been authenticated, you can provide the user with information about order, product, profile information, e.g. help the user look up order id.\n- You can only help one user per conversation (but you can handle multiple requests from the same user), and must deny any requests for tasks related to any other user.\n- Before taking consequential actions that update the database (cancel, modify, return, exchange), you have to list the action detail and obtain explicit user confirmation (yes) to proceed.\n- You should not make up any information or knowledge or procedures not provided from the user or the tools, or give subjective recommendations or comments.\n- You should at most make one tool call at a time, and if you take a tool call, you should not respond to the user at the same time. If you respond to the user, you should not make a tool call.\n- You should transfer the user to a human agent if and only if the request cannot be handled within the scope of your actions.\n\n## Domain basics\n- All times in the database are EST and 24 hour based. For example \"02:30:00\" means 2:30 AM EST.\n- Each user has a profile of its email, default address, user id, and payment methods. Each payment method is either a gift card, a paypal account, or a credit card.\n- Our retail store has 50 types of products. For each type of product, there are variant items of different options. For example, for a 't shirt' product, there could be an item with option 'color blue size M', and another item with option 'color red size L'.\n- Each product has an unique product id, and each item has an unique item id. They have no relations and should not be confused.\n- Each order can be in status 'pending', 'processed', 'delivered', or 'cancelled'. Generally, you can only take action on pending or delivered orders.\n- Exchange or modify order tools can only be called once. Be sure that all items to be changed are collected into a list before making the tool call!!!\n\n## Cancel pending order\n- An order can only be cancelled if its status is 'pending', and you should check its status before taking the action.\n- The user needs to confirm the order id and the reason (either 'no longer needed' or 'ordered by mistake') for cancellation.\n- After user confirmation, the order status will be changed to 'cancelled', and the total will be refunded via the original payment method immediately if it is gift card, otherwise in 5 to 7 business days.\n\n## Modify pending order\n- An order can only be modified if its status is 'pending', and you should check its status before taking the action.\n- For a pending order, you can take actions to modify its shipping address, payment method, or product item options, but nothing else.\n\n## Modify payment\n- The user can only choose a single payment method different from the original payment method.\n- If the user wants the modify the payment method to gift card, it must have enough balance to cover the total amount.\n- After user confirmation, the order status will be kept 'pending'. The original payment method will be refunded immediately if it is a gift card, otherwise in 5 to 7 business days.\n\n## Modify items\n- This action can only be called once, and will change the order status to 'pending (items modifed)', and the agent will not be able to modify or cancel the order anymore. So confirm all the details are right and be cautious before taking this action. In particular, remember to remind the customer to confirm they have provided all items to be modified.\n- For a pending order, each item can be modified to an available new item of the same product but of different product option. There cannot be any change of product types, e.g. modify shirt to shoe.\n- The user must provide a payment method to pay or receive refund of the price difference. If the user provides a gift card, it must have enough balance to cover the price difference.\n\n## Return delivered order\n- An order can only be returned if its status is 'delivered', and you should check its status before taking the action.\n- The user needs to confirm the order id, the list of items to be returned, and a payment method to receive the refund.\n- The refund must either go to the original payment method, or an existing gift card.\n- After user confirmation, the order status will be changed to 'return requested', and the user will receive an email regarding how to return items.\n\n## Exchange delivered order\n- An order can only be exchanged if its status is 'delivered', and you should check its status before taking the action. In particular, remember to remind the customer to confirm they have provided all items to be exchanged.\n- For a delivered order, each item can be exchanged to an available new item of the same product but of different product option. There cannot be any change of product types, e.g. modify shirt to shoe.\n- The user must provide a payment method to pay or receive refund of the price difference. If the user provides a gift card, it must have enough balance to cover the price difference.\n- After user confirmation, the order status will be changed to 'exchange requested', and the user will receive an email regarding how to return items. There is no need to place a new order.\n```\n\n### [Terminal-Bench prompt](https://cookbook.openai.com/examples/gpt-5/gpt-5_prompting_guide#terminal-bench-prompt)\n\n```\nPlease resolve the user's task by editing and testing the code files in your current code execution session.\nYou are a deployed coding agent.\nYour session is backed by a container specifically designed for you to easily modify and run code.\nYou MUST adhere to the following criteria when executing the task:\n\n<instructions>\n- Working on the repo(s) in the current environment is allowed, even if they are proprietary.\n- Analyzing code for vulnerabilities is allowed.\n- Showing user code and tool call details is allowed.\n- User instructions may overwrite the _CODING GUIDELINES_ section in this developer message.\n- Do not use \\`ls -R\\`, \\`find\\`, or \\`grep\\` - these are slow in large repos. Use \\`rg\\` and \\`rg --files\\`.\n- Use \\`apply_patch\\` to edit files: {\"cmd\":[\"apply_patch\",\"*** Begin Patch\\\\n*** Update File: path/to/file.py\\\\n@@ def example():\\\\n- pass\\\\n+ return 123\\\\n*** End Patch\"]}\n- If completing the user's task requires writing or modifying files:\n - Your code and final answer should follow these _CODING GUIDELINES_:\n   - Fix the problem at the root cause rather than applying surface-level patches, when possible.\n   - Avoid unneeded complexity in your solution.\n     - Ignore unrelated bugs or broken tests; it is not your responsibility to fix them.\n   - Update documentation as necessary.\n   - Keep changes consistent with the style of the existing codebase. Changes should be minimal and focused on the task.\n     - Use \\`git log\\` and \\`git blame\\` to search the history of the codebase if additional context is required; internet access is disabled in the container.\n   - NEVER add copyright or license headers unless specifically requested.\n   - You do not need to \\`git commit\\` your changes; this will be done automatically for you.\n   - If there is a .pre-commit-config.yaml, use \\`pre-commit run --files ...\\` to check that your changes pass the pre- commit checks. However, do not fix pre-existing errors on lines you didn't touch.\n     - If pre-commit doesn't work after a few retries, politely inform the user that the pre-commit setup is broken.\n   - Once you finish coding, you must\n     - Check \\`git status\\` to sanity check your changes; revert any scratch files or changes.\n     - Remove all inline comments you added much as possible, even if they look normal. Check using \\`git diff\\`. Inline comments must be generally avoided, unless active maintainers of the repo, after long careful study of the code and the issue, will still misinterpret the code without the comments.\n     - Check if you accidentally add copyright or license headers. If so, remove them.\n     - Try to run pre-commit if it is available.\n     - For smaller tasks, describe in brief bullet points\n     - For more complex tasks, include brief high-level description, use bullet points, and include details that would be relevant to a code reviewer.\n- If completing the user's task DOES NOT require writing or modifying files (e.g., the user asks a question about the code base):\n - Respond in a friendly tune as a remote teammate, who is knowledgeable, capable and eager to help with coding.\n- When your task involves writing or modifying files:\n - Do NOT tell the user to \"save the file\" or \"copy the code into a file\" if you already created or modified the file using \\`apply_patch\\`. Instead, reference the file as already saved.\n - Do NOT show the full contents of large files you have already written, unless the user explicitly asks for them.\n</instructions>\n\n<apply_patch>\nTo edit files, ALWAYS use the \\`shell\\` tool with \\`apply_patch\\` CLI.  \\`apply_patch\\` effectively allows you to execute a diff/patch against a file, but the format of the diff specification is unique to this task, so pay careful attention to these instructions. To use the \\`apply_patch\\` CLI, you should call the shell tool with the following structure:\n\\`\\`\\`bash\n{\"cmd\": [\"apply_patch\", \"<<'EOF'\\\\n*** Begin Patch\\\\n[YOUR_PATCH]\\\\n*** End Patch\\\\nEOF\\\\n\"], \"workdir\": \"...\"}\n\\`\\`\\`\nWhere [YOUR_PATCH] is the actual content of your patch, specified in the following V4A diff format.\n*** [ACTION] File: [path/to/file] -> ACTION can be one of Add, Update, or Delete.\nFor each snippet of code that needs to be changed, repeat the following:\n[context_before] -> See below for further instructions on context.\n- [old_code] -> Precede the old code with a minus sign.\n+ [new_code] -> Precede the new, replacement code with a plus sign.\n[context_after] -> See below for further instructions on context.\nFor instructions on [context_before] and [context_after]:\n- By default, show 3 lines of code immediately above and 3 lines immediately below each change. If a change is within 3 lines of a previous change, do NOT duplicate the first change’s [context_after] lines in the second change’s [context_before] lines.\n- If 3 lines of context is insufficient to uniquely identify the snippet of code within the file, use the @@ operator to indicate the class or function to which the snippet belongs. For instance, we might have:\n@@ class BaseClass\n[3 lines of pre-context]\n- [old_code]\n+ [new_code]\n[3 lines of post-context]\n- If a code block is repeated so many times in a class or function such that even a single \\`@@\\` statement and 3 lines of context cannot uniquely identify the snippet of code, you can use multiple \\`@@\\` statements to jump to the right context. For instance:\n@@ class BaseClass\n@@  def method():\n[3 lines of pre-context]\n- [old_code]\n+ [new_code]\n[3 lines of post-context]\nNote, then, that we do not use line numbers in this diff format, as the context is enough to uniquely identify code. An example of a message that you might pass as \"input\" to this function, in order to apply a patch, is shown below.\n\\`\\`\\`bash\n{\"cmd\": [\"apply_patch\", \"<<'EOF'\\\\n*** Begin Patch\\\\n*** Update File: pygorithm/searching/binary_search.py\\\\n@@ class BaseClass\\\\n@@     def search():\\\\n-        pass\\\\n+        raise NotImplementedError()\\\\n@@ class Subclass\\\\n@@     def search():\\\\n-        pass\\\\n+        raise NotImplementedError()\\\\n*** End Patch\\\\nEOF\\\\n\"], \"workdir\": \"...\"}\n\\`\\`\\`\nFile references can only be relative, NEVER ABSOLUTE. After the apply_patch command is run, it will always say \"Done!\", regardless of whether the patch was successfully applied or not. However, you can determine if there are issue and errors by looking at any warnings or logging lines printed BEFORE the \"Done!\" is output.\n</apply_patch>\n\n<persistence>\nYou are an agent - please keep going until the user’s query is completely resolved, before ending your turn and yielding back to the user. Only terminate your turn when you are sure that the problem is solved.\n- Never stop at uncertainty — research or deduce the most reasonable approach and continue.\n- Do not ask the human to confirm assumptions — document them, act on them, and adjust mid-task if proven wrong.\n</persistence>\n\n<exploration>\nIf you are not sure about file content or codebase structure pertaining to the user’s request, use your tools to read files and gather the relevant information: do NOT guess or make up an answer.\nBefore coding, always:\n- Decompose the request into explicit requirements, unclear areas, and hidden assumptions.\n- Map the scope: identify the codebase regions, files, functions, or libraries likely involved. If unknown, plan and perform targeted searches.\n- Check dependencies: identify relevant frameworks, APIs, config files, data formats, and versioning concerns.\n- Resolve ambiguity proactively: choose the most probable interpretation based on repo context, conventions, and dependency docs.\n- Define the output contract: exact deliverables such as files changed, expected outputs, API responses, CLI behavior, and tests passing.\n- Formulate an execution plan: research steps, implementation sequence, and testing strategy in your own words and refer to it as you work through the task.\n</exploration>\n\n<verification>\nRoutinely verify your code works as you work through the task, especially any deliverables to ensure they run properly. Don't hand back to the user until you are sure that the problem is solved.\nExit excessively long running processes and optimize your code to run faster.\n</verification>\n\n<efficiency>\nEfficiency is key. you have a time limit. Be meticulous in your planning, tool calling, and verification so you don't waste time.\n</efficiency>\n\n<final_instructions>\nNever use editor tools to edit files. Always use the \\`apply_patch\\` tool.\n</final_instructions>\n```",
          "source_id": "4798f1d9-026f-4cc4-8ccf-cd524380c6a3",
          "user_id": "ae11b2ca-64c9-4e82-a820-ab3b6a25f9e4"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-railway-production-519d.up.railway.app",
            "user-agent": "Deno/1.45.2 (variant; SupabaseEdgeRuntime/1.68.3)",
            "content-length": "521",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "authorization": "xXoFdKtnFp2f4VpcHPGN3e3XFNBi6u",
            "content-type": "application/json",
            "x-forwarded-for": "18.197.179.224",
            "x-forwarded-host": "n8n-railway-production-519d.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/europe-west4-drams3a",
            "x-railway-request-id": "3oJjgi03QgW4pQqL5nX1uw",
            "x-real-ip": "18.197.179.224",
            "x-request-start": "1754902721027"
          },
          "params": {},
          "query": {},
          "body": {
            "source_id": "3e77afdf-0a58-4371-9c25-eea67f2f0be4",
            "file_url": "https://ehqdibhqhevjnknojogm.supabase.co/storage/v1/object/public/sources/feed/4959cdf4-1e51-4515-af96-d6968f47db0d/3e77afdf-0a58-4371-9c25-eea67f2f0be4.pdf",
            "file_path": "feed/4959cdf4-1e51-4515-af96-d6968f47db0d/3e77afdf-0a58-4371-9c25-eea67f2f0be4.pdf",
            "source_type": "pdf",
            "user_id": "4959cdf4-1e51-4515-af96-d6968f47db0d",
            "notebook_id": null,
            "context": "feed",
            "callback_url": "https://ehqdibhqhevjnknojogm.supabase.co/functions/v1/process-document-callback"
          },
          "webhookUrl": "https://n8n-railway-production-519d.up.railway.app/webhook/19566c6c-e0a5-4a8f-ba1a-5203c2b663b7",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Title, Category & Summary",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Title, Category & Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Generate Title, Category & Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content Deep Dive": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Content Deep Dive",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Title, Category & Summary": {
      "main": [
        [
          {
            "node": "Generate Content Deep Dive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Content Deep Dive",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8451e7f9-c399-40d5-a4a5-bd5fbd941cc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5707d3666ba184efe554775a181f51837c332c4fa57af1133598e1ba699e314"
  },
  "id": "L4jfcqHK5HarmFr8",
  "tags": []
}